*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.header-info{
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 1rem;
}

.header-child{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.header-banner{
  width: 100%;
}

.search-bar{
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 30px;

}

input::placeholder {
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

.searchBtn{
  margin-left: 8px;
  background-color: rgb(21, 31, 9);
  color: white;
  width: 100px;
  height: 30px;
}

.characters-container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

.character-item{
  width: 100%;
  padding: 10px;
}

.character-card{
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
  border-radius: 2px solid black;
  padding: 10px;
  height: 100%;
  text-align: left;
  background-color: rgb(21, 31, 9);
}

.character-picture{
  width: 100%;
}

.character-card p{
  font-size: 13px;
  color: gray;
  padding: 5px 0;
}

.status-container{
  display: flex;
  position: absolute;
  top: 30px;
  left: 10px;
  background-color: rgb(21, 31, 9);
  width: 100px;
  height: 25px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.status-indicator{
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media (min-width: 558px){
  .character-item{
    width: 50%;
  }

  .header-child{
    flex: none;
    font-size: 14px;
  }

  input::placeholder {
    font-size: 1rem;
  }
}

@media (min-width: 768px){
  .character-item{
    width: 33.33333%;
  }
  .header-child{
    flex: none;
    font-size: 16px;
  }
}

@media (min-width: 998px){
  .character-item{
    width: 25%;
  }

  .header-child{
    flex: none;
    font-size: 18px;
  }
}